body {
    margin: 0;
    padding: 0;
    background: url(img/background.jpg) rgba(0, 0, 0, 0.737);
    background-size: cover;
    background-blend-mode: multiply;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    width: 1280px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu a, #logo a {
    text-decoration: none;
    color: white;
}

header #logo a {
    color: rgb(204, 204, 4);
}

header #menu {
    font-weight: 600;
    display: flex;
    gap: 10px;
}

header #menu a {
    padding: 0.8em;
    box-sizing: border-box;
    transition: 0.4s ease;
    font-size: 18px;
    border-radius: 0.3em;
}

header #menu a:hover {
    background-color: rgb(204, 204, 4);
    color: black;
    padding: 30px;
}

header #bars {
    display: none;
}

#bars i {
    font-size: 35px;
    color: white;
    border: 2px solid rgb(204, 204, 4);
    padding: 0.3em;
    border-radius: 0.2em;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    box-sizing: border-box;
}

.content .para {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}

.content .para h1 {
    font-size: 50px;
}

.content .para .search {
    display: flex;
    color: black;
}

.search input {
    outline: none;
    border: none;
    width: 60%;
    font-size: 15px;
}

.search input::placeholder {
    color: black;
    font-weight: 600;
}

.search i {
    width: 10%;
    border-radius: 0.2em 0 0 0.2em;
}

.search div {
    width: 30%;
    border-radius: 0 0.2em 0.2em 0;
    justify-content: end;
}

.search div,
.search i {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.8em;
    box-sizing: border-box;
}

.search span {
    background-color: rgb(204, 204, 4);
    padding: 0.7em;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 0.2em;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.search span:hover {
    background-color: rgb(236, 236, 55);
    box-shadow: 1px 5px 10px grey;
}

.picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.picture div img {
    border: 5px solid white;
    border-radius: 0.2em;
}

.picture #one {
    transform: rotate(8deg);
}

#one img {
    width: 450px;
}

#two img {
    width: 370px;
}

.picture #two {
    transform: rotate(-8deg);
    margin-top: -80px;
}

/* *********************************** */
#barsmenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    top: 80px;
    left: 0;
    font-size: 20px;
    display: none;
    z-index: 10;
    transition: 0.5s;
    text-align: center;
    height: 0;
    overflow: hidden;
    color: white;
    padding: 0 20px;
    font-weight: 600;
}

#barsmenu span {
    width: 100%;
    border-radius: 0.3em;
}

#barsmenu span{
    padding: 8px;
}

#barsmenu span:hover{
    background-color: rgb(236, 236, 55);
}

#barsmenu span:hover a{
    color: black;
}

#barsmenu a {
    text-decoration: none;
    color: white;
}

#chk:checked ~ #barsmenu {
    height: 90%;
}

#chk {
    display: none;
}


/* *********************************** */

@media (max-width:1080px) {

    header #menu {
        display: none;
    }

    header #bars {
        display: block;
    }

    #barsmenu {
        display: flex;
        gap: 8px;
    }

    



    .content {
        flex-direction: column;
        padding: 0;
    }

    .content .para,
    .picture {
        width: 100%;
    }

    .picture {
        margin: 80px 0;
    }

    #one img {
        width: 600px;
    }

    #two img {
        width: 550px;
    }

    
}



@media (max-width:700px) {

    .content .para h1 {
        font-size: 30px;
    }

    .search span, .search input {
        font-size: 12px;
    }

    .picture {
        margin: 30px 0;
    }

    .content .para {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    #one img {
        width: 400px;
    }

    #two img {
        width: 350px;
    }
    
    .search div {
        width: 50%;
    }
}


@media (max-width:500px) {

    header h1 {
        font-size: 25px;
    }

    #bars i {
        font-size: 30px;
    }

    .content .para h1 {
        font-size: 25px;
    }

    .search span, .search input {
        font-size: 10px;
    }

    .picture {
        margin: 30px 0;
    }

    #one img {
        width: 300px;
    }

    #two img {
        width: 250px;
    }

    #barsmenu {
        font-size: 15px;
        top: 65px;
        gap: 5px;
    }

}